In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.vector_ar.var_model import VAR
from sklearn.metrics import mean_squared_error

df = pd.read_csv("Neighbourhood_model_data.csv")
print(df)

      NEIGHBOURHOOD_NAME  TAX_ASSESSMENT_YEAR  PREVIOUS_MEDIAN_PRICE  \
0          Arbutus-Ridge                 2007                0.80475
1          Arbutus-Ridge                 2008                1.01700
2          Arbutus-Ridge                 2009                1.22905
3          Arbutus-Ridge                 2010                1.23490
4          Arbutus-Ridge                 2011                1.22900
5          Arbutus-Ridge                 2012                1.51500
6          Arbutus-Ridge                 2013                1.90910
7          Arbutus-Ridge                 2014                1.82600
8          Arbutus-Ridge                 2015                1.82455
9          Arbutus-Ridge                 2016                1.98200
10         Arbutus-Ridge                 2017                2.36600
11         Arbutus-Ridge                 2018                3.24700
12         Arbutus-Ridge                 2019                3.13800
13              Downtown                 2007                0.30700
14              Downtown                 2008                0.36200
15              Downtown                 2009                0.41100
16              Downtown                 2010                0.41800
17              Downtown                 2011                0.41700
18              Downtown                 2012                0.44400
19              Downtown                 2013                0.46200
20              Downtown                 2014                0.46100
21              Downtown                 2015                0.45000
22              Downtown                 2016                0.46200
23              Downtown                 2017                0.50300
24              Downtown                 2018                0.65800
25              Downtown                 2019                0.74300
26     Dunbar-Southlands                 2007                0.79600
27     Dunbar-Southlands                 2008                1.02330
28     Dunbar-Southlands                 2009                1.27440
29     Dunbar-Southlands                 2010                1.23700
..                   ...                  ...                    ...
243  Victoria-Fraserview                 2016                0.93600
244  Victoria-Fraserview                 2017                1.16500
245  Victoria-Fraserview                 2018                1.53620
246  Victoria-Fraserview                 2019                1.51400
247             West End                 2007                0.30000
248             West End                 2008                0.36200
249             West End                 2009                0.40200
250             West End                 2010                0.40200
251             West End                 2011                0.40500
252             West End                 2012                0.43500
253             West End                 2013                0.44800
254             West End                 2014                0.45100
255             West End                 2015                0.43400
256             West End                 2016                0.45100
257             West End                 2017                0.49200
258             West End                 2018                0.63400
259             West End                 2019                0.73600
260      West Point Grey                 2007                0.89100
261      West Point Grey                 2008                1.13230
262      West Point Grey                 2009                1.31795
263      West Point Grey                 2010                1.31600
264      West Point Grey                 2011                1.32370
265      West Point Grey                 2012                1.55520
266      West Point Grey                 2013                1.90690
267      West Point Grey                 2014                1.91000
268      West Point Grey                 2015                1.88400
269      West Point Grey                 2016                2.10200
270      West Point Grey                 2017                2.50700
271      West Point Grey                 2018                3.46015
272      West Point Grey                 2019                3.33500

     INTEREST_RATE  CURRENT_MEDIAN_PRICE
0         6.104167               1.01700
1         4.729167               1.22905
2         2.395833               1.23490
3         2.604167               1.22900
4         3.000000               1.51500
5         3.000000               1.90910
6         3.000000               1.82600
7         3.000000               1.82455
8         2.775000               1.98200
9         2.700000               2.36600
10        2.700000               3.24700
11        2.700000               3.13800
12        2.700000               2.78900
13        6.104167               0.36200
14        4.729167               0.41100
15        2.395833               0.41800
16        2.604167               0.41700
17        3.000000               0.44400
18        3.000000               0.46200
19        3.000000               0.46100
20        3.000000               0.45000
21        2.775000               0.46200
22        2.700000               0.50300
23        2.700000               0.65800
24        2.700000               0.74300
25        2.700000               0.79300
26        6.104167               1.02330
27        4.729167               1.27440
28        2.395833               1.23700
29        2.604167               1.19910
..             ...                   ...
243       2.700000               1.16500
244       2.700000               1.53620
245       2.700000               1.51400
246       2.700000               1.47000
247       6.104167               0.36200
248       4.729167               0.40200
249       2.395833               0.40200
250       2.604167               0.40500
251       3.000000               0.43500
252       3.000000               0.44800
253       3.000000               0.45100
254       3.000000               0.43400
255       2.775000               0.45100
256       2.700000               0.49200
257       2.700000               0.63400
258       2.700000               0.73600
259       2.700000               0.77400
260       6.104167               1.13230
261       4.729167               1.31795
262       2.395833               1.31600
263       2.604167               1.32370
264       3.000000               1.55520
265       3.000000               1.90690
266       3.000000               1.91000
267       3.000000               1.88400
268       2.775000               2.10200
269       2.700000               2.50700
270       2.700000               3.46015
271       2.700000               3.33500
272       2.700000               2.88800

[273 rows x 5 columns]

In [2]:
df.describe()

,TAX_ASSESSMENT_YEAR,PREVIOUS_MEDIAN_PRICE,INTEREST_RATE,CURRENT_MEDIAN_PRICE
count,273.000000,273.000000,273.000000,273.000000
mean,2013.000000,1.141014,3.185256,1.240245
std,3.748529,0.847415,1.006144,0.893613
min,2007.000000,0.300000,2.395833,0.362000
25%,2010.000000,0.580900,2.700000,0.628500
50%,2013.000000,0.817000,2.775000,0.907700
75%,2016.000000,1.433950,3.000000,1.517000
max,2019.000000,5.321850,6.104167,5.321850

In [3]:
### constants
area_list = df.NEIGHBOURHOOD_NAME.unique()
area_list

array(['Arbutus-Ridge', 'Downtown', 'Dunbar-Southlands', 'Fairview',
       'Grandview-Woodland', 'Hastings-Sunrise',
       'Kensington-Cedar Cottage', 'Kerrisdale', 'Killarney', 'Kitsilano',
       'Marpole', 'Mount Pleasant', 'Oakridge', 'Renfrew-Collingwood',
       'Riley Park', 'Shaughnessy', 'South Cambie', 'Sunset',
       'Victoria-Fraserview', 'West End', 'West Point Grey'], dtype=object)

In [14]:
import statsmodels.api as sm
import statsmodels
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse_list = []

for area in area_list:
    filtered_df = df.query('NEIGHBOURHOOD_NAME == @area')
    truncated_df = filtered_df.drop(['NEIGHBOURHOOD_NAME', 'PREVIOUS_MEDIAN_PRICE'], axis = 1)
    
    sales_series = df['CURRENT_MEDIAN_PRICE']
    lag_series = df['INTEREST_RATE']

    train_sales = sales_series[:int(0.8*(len(sales_series)))]
    valid_sales = sales_series[int(0.8*(len(sales_series))):]

    lag_train = lag_series[:int(0.8*(len(lag_series)))]
    lag_valid = lag_series[int(0.8*(len(lag_series))):]

    model4=sm.tsa.ARIMA(endog=train_sales.values,exog=lag_train.values,order=[1,0,2])
    results4=model4.fit()
    
    prediction = results4.forecast(exog=lag_valid, steps=len(lag_valid))
    pred = pd.DataFrame(prediction[0])

    rmse = sqrt(mean_squared_error(pred, valid_sales))
    rmse_list.append(rmse)

In [15]:
import numpy as np

average_rmse = np.mean(rmse_list)
average_rmse

0.7356704532715904