In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("rental_data.csv")

# check null value count
data.isna().sum()

Post_ID          0
Time             0
House_type       0
Area             0
Area_Name        0
Address       2148
Rent           187
url              0
dtype: int64

In [2]:
data = data.dropna(subset=['Rent'])

data = data.fillna('Not Available')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9333 entries, 0 to 9519
Data columns (total 8 columns):
Post_ID       9333 non-null int64
Time          9333 non-null object
House_type    9333 non-null object
Area          9333 non-null object
Area_Name     9333 non-null object
Address       9333 non-null object
Rent          9333 non-null object
url           9333 non-null object
dtypes: int64(1), object(7)
memory usage: 656.2+ KB

In [3]:
data['Time'] = pd.to_datetime(data['Time'])
data['Rent'] = data.Rent.str.replace(',', '')
data['Rent'] = data['Rent'].str.replace('$','').astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9333 entries, 0 to 9519
Data columns (total 8 columns):
Post_ID       9333 non-null int64
Time          9333 non-null datetime64[ns]
House_type    9333 non-null object
Area          9333 non-null object
Area_Name     9333 non-null object
Address       9333 non-null object
Rent          9333 non-null float64
url           9333 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 656.2+ KB

In [4]:
samp_series = data["House_type"]
data = data.drop("House_type",axis=1)

In [5]:
br = []
area_sqft = []
for val in samp_series:
    br.append(int(val.split("-")[0][0]))
    if not val.split("-")[1]:
        area_sqft.append(0)
    else:
        area_sqft.append(int(val.split("-")[1][:-3]))

In [6]:
data["bed_rooms"] = br
data["house_size_sqft"] = area_sqft
data.head()

,Post_ID,Time,Area,Area_Name,Address,Rent,url,bed_rooms,house_size_sqft
0,6827734213,2019-02-25 08:07:00,V2A,Penticton,Not Available,850.0,https://kelowna.craigslist.org/apa/d/penticton...,1,540
1,6826412736,2019-02-23 10:11:00,V2A,Penticton,Not Available,1100.0,https://kelowna.craigslist.org/apa/d/penticton...,2,0
2,6826412394,2019-02-23 10:10:00,V2A,Penticton,Not Available,1100.0,https://kelowna.craigslist.org/apa/d/penticton...,2,0
3,6826411635,2019-02-23 10:10:00,V2A,Penticton,Not Available,1100.0,https://kelowna.craigslist.org/apa/d/penticton...,2,0
4,6824777796,2019-02-21 10:02:00,V2A,Penticton,Not Available,895.0,https://kelowna.craigslist.org/apa/d/penticton...,2,0

In [7]:
data.to_csv("rental_data_cleaned.csv",index=False)